* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
body {
  /* font-family: Arial, sans-serif; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
  background: #1a1a1c;
  color: white;
}
.headerwala {
  position: sticky;
  top:0.4vw;
left: 12%;  
  width: 80%;
  display: flex;
  flex-direction: row;
  padding: 2vw;
}

/* h1 {
    text-align: center;
  }
   */
input[type="text"] {
  color: rgb(216, 207, 207);
  padding: 5px;
  margin-right: ;
  width: auto%;
  background: transparent;
  border: 2px solid #8e8e8e;
  padding: 10px;
  outline: none;
  width:50%;
}

#searchButton {
  width: 10%;
}

button {
  padding: 5px 10px;
  cursor: pointer;
  background: transparent;
  color: #fff;
  border: 2px solid #8e8e8e;
  margin-right: 10px;
}

button:hover {
  background-color: #0056b3;
}

table {
  margin-top: 5vw;
  width: 80vw;
  border-collapse: collapse;
}
tr {
  border-bottom: 2px solid #8e8e8e;
}

th,
td {
  /* border: 1px solid #ddd; */
  font-size: 1.1vw;
  padding: 15px 0;
  text-align: right;
}
th:nth-of-type(2),
td:nth-of-type(2) {
  text-align: left;
  text-transform: uppercase;
}
td img {
  width: 15px;
  margin-right: 9px;
}

th:nth-of-type(1),
td:nth-of-type(1) {
  text-align: left;
}

th,
td:nth-of-type(5) {
  color: green;
}


#sortPercentageChange,
#sortMarketCap {
  /* width: 23%; */
}

.dec{
  color: red !important;
}

.inc{
  color: green;
}

@media (max-width: 700px) {
  .headerwala {
    flex-wrap: wrap;
    /* width: 100%; */
  }
  button {
    width: 100%;
  }

  input[type="text"] {
    width: 70%;
  }
  #searchButton {
    width: 25%;
  }
  table{
    width: 95vw;
  }
}


th{
  color:rgb(0 255 44);
  /* background: grey; */
}